@import "utils/utils.scss";

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 40vh;
  @include mq(false, $breakpoint-tabletLandscape) {
    width: 90vw;
  }
}
