<h2>Five day forecast for {{ city }}</h2>

<table aria-label="Five day forecast information">
  <thead>
    <tr>
      <th *ngFor="let col of columns | filterNonColumns">
        <app-forecast-table-header-cell
          [heading]="table[0][col]"
        ></app-forecast-table-header-cell>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let row of table; let i = index"
      appForecastRow
      [row]="row"
      [cols]="columns"
      [rowIdx]="i"
    ></tr>
  </tbody>
</table>

<table aria-label="Five day forecast information">
  <thead>
    <tr>
      <th></th>
      <th>
        <span class="desktop">Monday</span
        ><span class="mobile" aria-hidden="true">Mon</span>
      </th>
      <th>
        <span class="desktop">Tuesday</span
        ><span class="mobile" aria-hidden="true">Tue</span>
      </th>
      <th>
        <span class="desktop">Wednesday</span
        ><span class="mobile" aria-hidden="true">Wed</span>
      </th>
      <th>
        <span class="desktop">Thursday</span
        ><span class="mobile" aria-hidden="true">Thu</span>
      </th>
      <th>
        <span class="desktop">Friday</span
        ><span class="mobile" aria-hidden="true">Fri</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="heading" aria-label="Temperature °C">
        <span class="desktop">Temperature (°C)</span
        ><span class="mobile" aria-hidden="true">°C</span>
      </td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <td class="heading">
        <span class="desktop">Windspeed (mph)</span
        ><span class="mobile" aria-hidden="true">Wind<br />mph</span>
      </td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
      <td>20</td>
    </tr>
    <tr>
      <td class="heading"><span class="desktop">Weather</span></td>
      <td>Sunny</td>
      <td>Sunny</td>
      <td>Sunny</td>
      <td>Sunny</td>
      <td>Sunny</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather" />
      </td>
      <td>
        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather" />
      </td>
      <td>
        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather" />
      </td>
      <td>
        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather" />
      </td>
      <td>
        <img src="http://openweathermap.org/img/wn/10d@2x.png" alt="weather" />
      </td>
    </tr>
  </tbody>
</table>
