.card {
  padding: 20px 0px 30px 52px;
  margin: 0 auto;
  width: fit-content;
}

.icon-location {
  width: 80px;
  position: absolute;
  left: -27px;
  bottom: -43px;
}

form {
  display: flex;
  flex-direction: column;
  select {
    padding: 3px;
    font-weight: 600;
    width: 170px;
  }
}
