<!-- Highlight Card -->
<div class="card highlight-card card-small">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon-location">
    <use href="#icon-location"></use>
  </svg>

  <form>
    <label for="city-select">City:</label>
    <select
      id="city-select"
      name="city-select"
      [(ngModel)]="val"
      (ngModelChange)="handleSelect()"
    >
      <option value="">Choose a City</option>
      <option *ngFor="let opt of options" [ngValue]="opt">{{ opt }}</option>
    </select>
  </form>
</div>
