:root {
  --colour-dark: #333;
  --colour-light-100: #fff;
  --colour-light-200: #fafafa;
  --colour-light-300: #eee;

  --colour-blue-400: #1976d2;
  --colour-blue-500: #125699;

  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --base-rem: 14px;
}
